body {
    font-family: 'Montserrat', sans-serif;
}

/***************************IDs***************************/

#product-overview {
    background: #ff1b68;
}


/***************************Elements***************************/

#product-overview h1{
    color:antiquewhite;
    font-family: 'Anton', sans-serif;

}


/***************************Classes***************************/

.section-title{
    color:#2ddf5c;
}

body {
    font-family: Tahoma;
}

.second-list-item{
    color: green;
}

#assignment-instructions{
    font-family: sans-serif;
    color: antiquewhite;
}

code {
    font-family: monospace;
    color: red;
}

li + li {
    background:black;
    color:white;
}

ol > li {
    background:black;
    color:white;
}