.container {
    margin: 20px;
    display: grid;
    height: 500px;
    /* grid-template-columns: 12.5rem 5rem 20% auto; */
    grid-template-columns: [hd-start] repeat(4, [col-start] 25% [col-end]) [hd-end];
    grid-template-rows: [hd-start] 5rem [hd-end row-2-start] minmax(10px, auto) [row-2-end row-3-start] 100px [row-3-start];
    grid-gap: 10px;
    grid-template-areas: "header header header header"
                         ". . main main"
                         "footer footer footer footer";
}

h1{
    text-align: center;
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column: col-start 2 / col-end 2;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column: 1 / -1;
    grid-row: row-2-start / span 1;
    z-index: 10; */
    grid-area: main;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-area: hd;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}

/* .container-assignment {
    margin: 20px;
    display: grid; */
    /* grid-template-columns: 12.5rem 5rem 20% auto; */
    /* grid-template-columns: repeat(4, 25%);
    grid-template-rows: [h] 3rem [c] 12rem [b] 3rem;
} */
/* 
.header {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 154, 72, 0.5);
    grid-column-start: 1;
    grid-column-end: 5;
}

.sidebar {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(255, 0, 0, 0.5);
    grid-row-start: c;
}

.main-content {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 128, 0, 0.5);
    grid-row-start: c;
    grid-column-start: 2;
    grid-column-end:5;
}

.footer {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(0, 4, 255, 0.5);
    grid-row-start: b;
    grid-column-start: 1;
    grid-column-end: 5;
} */